rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /characters/{userId} {
    	allow read: if true;
      allow write, delete: if userId == request.auth.uid;
      match /{document=**} {
      	allow read: if true;
        allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(["campaignId", "initiativeStatus"])     
        allow write, delete: if userId == request.auth.uid
      }
    }
    match /campaigns/{document=**} {
    	allow read, write, delete: if true;
    }
    match /users/{userId} {
    	allow read: if true;
    	allow write: if userId == request.auth.uid;
      match /custom-oracles/{document=**} {
        allow read: if true;
        allow write, delete: if userId == request.auth.uid;
      }
      match /custom-moves/{document=**} {
        allow read: if true;
        allow write, delete: if userId == request.auth.uid;
      }
      match /settings/{document=**} {
      	allow read, write, delete: if userId == request.auth.uid;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}