@font-face {
    font-family: 'a Astro Space';
    src: url('aAstroSpace.eot');
    src: url('aAstroSpace.eot?#iefix') format('embedded-opentype'),
        url('aAstroSpace.woff2') format('woff2'),
        url('aAstroSpace.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

